*~
*.la
*.lo
*.o
.deps/
.libs/
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

/doxygen.cfg
/libmnl.pc

examples/genl/genl-group-events
examples/kobject/kobject-event
examples/netfilter/nfct-create-batch
examples/netfilter/nfct-daemon
examples/netfilter/nfct-dump
examples/rtnl/rtnl-addr-dump
examples/rtnl/rtnl-neigh-dump
examples/rtnl/rtnl-route-event
